@use "../variables" as v ;
@mixin button(){
    button{
        border: 0;
        width: 100%;
        height: 100%;
        background-color: v.$white;
        cursor: pointer;
        color: v.$duke-blue;
        font-size: 1.2rem;
        :hover{
            color: v.$steel-blue;
            transition: 1.5s;
            font-size: 1.5rem;
        }
    }
    
}