@use "variables" as v;
.card{
    display: flex;
    background-color: v.$white;
    box-sizing: border-box; 
    height: 50px;
    justify-content: center;
    align-items: center;
        label{
            padding:12px 15px ;
            cursor:pointer;
            font-size: 18px;
            position: relative;
            margin: 1rem 1.5rem;
            text-align: center;
        }
}